coverage
pkg
tmp
ruby/
log/
.bundle
*.gem
gemfiles/*.lock
Gemfile.lock
.coveralls.yml
.ruby-version
.ruby-gemset
.idea
*.rdb
.rgignore
.claude

node_modules
.vite

.DS_Store

mise.toml

.devcontainer/.env
vendor/gems

sentry-rails/Gemfile-*.lock

sentry-yabeda/.DS_Store
sentry-yabeda/.rspec_status
sentry-yabeda/Gemfile-*.lock
