coverage
pkg
tmp
ruby/
log/
.bundle
*.gem
gemfiles/*.lock
Gemfile.lock
.coveralls.yml
.ruby-version
.ruby-gemset
.idea
*.rdb
.rgignore
.claude

node_modules
.vite

.devcontainer/.env
vendor/gems
sentry-rails/Gemfile-*.lock
