services:
  sentry-build: &sentry-build
    image: ${DOCKER_IMAGE:-sentry-ruby-devcontainer}:${DOCKER_TAG:-latest}
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        IMAGE: ${IMAGE}
        VERSION: ${VERSION}
    volumes:
      - ..:/workspace/sentry:cached
    working_dir: /workspace/sentry
    env_file: [".env"]

  sentry-dev:
    <<: *sentry-build
    entrypoint: ".devcontainer/run --service dev"
    command: "sleep infinity"
    links:
      - redis
      - postgres
    depends_on:
      - redis
      - postgres

  sentry-test:
    <<: *sentry-build
    entrypoint: ".devcontainer/run --service test"
    command: ["foreman", "start"]
    ports:
      - "${SENTRY_E2E_RAILS_APP_PORT}:4000"
      - "${SENTRY_E2E_SVELTE_APP_PORT}:4001"

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=sentry
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6379:6379"
