name: sentry-ruby Test

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - \d+-\d+
  pull_request:
jobs:
  test:
    defaults:
      run:
        working-directory: sentry-ruby
    name: Ruby ${{ matrix.ruby_version }} & Rack ${{ matrix.rack_version }}, options - ${{ toJson(matrix.options) }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ruby_version: [2.4, 2.5, 2.6, 2.7, '3.0', jruby]
        rack_version: [2.0, 3.0]
        os: [ubuntu-latest]
        include:
          - { os: ubuntu-latest, ruby_version: 3.1, rack_version: 0 }
          - { os: ubuntu-latest, ruby_version: 3.1, rack_version: 2.0 }
          - { os: ubuntu-latest, ruby_version: 3.1, rack_version: 3.0 }
          - { os: ubuntu-latest, ruby_version: 3.1, rack_version: 3.0, options: { rubyopt: "--enable-frozen-string-literal --debug=frozen-string-literal" } }
          - { os: ubuntu-latest, ruby_version: 3.1, rack_version: 3.0, options: { codecov: 1 } }
    steps:
    - uses: actions/checkout@v1

    - name: Set up Ruby ${{ matrix.ruby_version }}
      uses: ruby/setup-ruby@v1
      with:
        bundler: 1
        ruby-version: ${{ matrix.ruby_version }}

    - name: Run specs
      env:
        RUBYOPT: ${{ matrix.options.rubyopt }}
        WITHOUT_RACK: ${{ matrix.options.without_rack }}
        RACK_VERSION: ${{ matrix.rack_version }}
      run: |
        bundle install --jobs 4 --retry 3
        bundle exec rake

    - name: Upload Coverage
      if: ${{ matrix.options.codecov }}
      run: |
        curl -Os https://uploader.codecov.io/latest/linux/codecov
        chmod +x codecov
        ./codecov -t ${CODECOV_TOKEN} -R `pwd` -f coverage/coverage.xml
