name: sentry-rails Test

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - \d+-\d+
  pull_request:
# Cancel in progress workflows on pull_requests.
# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  test:
    defaults:
      run:
        working-directory: sentry-rails
    name: Ruby ${{ matrix.ruby_version }} & Rails ${{ matrix.rails_version }}, options - ${{ toJson(matrix.options) }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        rails_version: [6.1.0, 7.0.0, 7.1.0]
        ruby_version: [2.7, '3.0', '3.1', '3.2']
        os: [ubuntu-latest]
        include:
          - { os: ubuntu-latest, ruby_version: "2.4", rails_version: 5.0.0 }
          - { os: ubuntu-latest, ruby_version: "2.4", rails_version: 5.1.0 }
          - { os: ubuntu-latest, ruby_version: "2.4", rails_version: 5.2.0 }
          - { os: ubuntu-latest, ruby_version: "2.5", rails_version: 5.0.0 }
          - { os: ubuntu-latest, ruby_version: "2.5", rails_version: 5.1.0 }
          - { os: ubuntu-latest, ruby_version: "2.5", rails_version: 5.2.0 }
          - { os: ubuntu-latest, ruby_version: "2.5", rails_version: 6.0.0 }
          - { os: ubuntu-latest, ruby_version: "2.5", rails_version: 6.1.0 }
          - { os: ubuntu-latest, ruby_version: "2.6", rails_version: 5.0.0 }
          - { os: ubuntu-latest, ruby_version: "2.6", rails_version: 5.1.0 }
          - { os: ubuntu-latest, ruby_version: "2.6", rails_version: 5.2.0 }
          - { os: ubuntu-latest, ruby_version: "2.6", rails_version: 6.0.0 }
          - { os: ubuntu-latest, ruby_version: "2.6", rails_version: 6.1.0 }
          - { os: ubuntu-latest, ruby_version: "2.7", rails_version: 5.0.0 }
          - { os: ubuntu-latest, ruby_version: "2.7", rails_version: 5.1.0 }
          - { os: ubuntu-latest, ruby_version: "2.7", rails_version: 5.2.0 }
          - { os: ubuntu-latest, ruby_version: "2.7", rails_version: 6.0.0 }
          - { os: ubuntu-latest, ruby_version: "2.7", rails_version: 6.1.0 }
          - { os: ubuntu-latest, ruby_version: "jruby", rails_version: 6.1.0 }
          - {
              os: ubuntu-latest,
              ruby_version: "3.2",
              rails_version: 7.1.0,
              options:
                {
                  rubyopt: "--enable-frozen-string-literal --debug=frozen-string-literal",
                },
            }
          - {
              os: ubuntu-latest,
              ruby_version: "3.2",
              rails_version: 7.1.0,
              options: { codecov: 1 },
            }
    steps:
    - uses: actions/checkout@v1
    - name: Install sqlite and ImageMagick
      run: |
        # See https://github.community/t5/GitHub-Actions/ubuntu-latest-Apt-repository-list-issues/td-p/41122/page/2
        for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done
        sudo apt-get update
        sudo apt-get install libsqlite3-dev imagemagick
    - name: Set up Ruby ${{ matrix.ruby_version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler: "2.3"
        rubygems: ${{ matrix.rails_version == '7.1.0' && 'latest' || 'default' }}

    - name: Build with Rails ${{ matrix.rails_version }}
      env:
        RAILS_VERSION: ${{ matrix.rails_version }}
        RUBYOPT: ${{ matrix.options.rubyopt }}
      run: |
        bundle install --jobs 4 --retry 3
        bundle exec rake

    - name: Upload Coverage
      if: ${{ matrix.options.codecov }}
      run: |
        curl -Os https://uploader.codecov.io/latest/linux/codecov
        chmod +x codecov
        ./codecov -t ${CODECOV_TOKEN} -R `pwd` -f coverage/coverage.xml
