name: sentry-rails Test

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - \d+-\d+
  pull_request:
jobs:
  test:
    defaults:
      run:
        working-directory: sentry-rails
    name: Ruby ${{ matrix.ruby_version }} & Rails ${{ matrix.rails_version }}, options - ${{ toJson(matrix.options) }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rails_version: [5.0.0, 5.1.0, 5.2.0, 6.0.0, 6.1.0]
        ruby_version: [2.4, 2.5, 2.6, 2.7, '3.0', jruby]
        os: [ubuntu-latest]
        include:
          - { os: ubuntu-latest, ruby_version: '3.0', rails_version: 6.1.0, options: { rubyopt: "--enable-frozen-string-literal --debug=frozen-string-literal" } }
          - { os: ubuntu-latest, ruby_version: '2.7', rails_version: 6.1.0, options: { codecov: 1 } }
          - { os: ubuntu-latest, ruby_version: '2.7', rails_version: 7.0.0.alpha }
        exclude:
          - ruby_version: 2.4
            rails_version: 6.0.0
          - ruby_version: 2.4
            rails_version: 6.1.0
          - ruby_version: '3.0'
            rails_version: 5.0.0
          - ruby_version: '3.0'
            rails_version: 5.1.0
          - ruby_version: '3.0'
            rails_version: 5.2.0
          - ruby_version: jruby
            rails_version: 5.0.0
          - ruby_version: jruby
            rails_version: 5.1.0
          - ruby_version: jruby
            rails_version: 6.1.0

    steps:
    - uses: actions/checkout@v1
    - name: Install sqlite
      run: |
        # See https://github.community/t5/GitHub-Actions/ubuntu-latest-Apt-repository-list-issues/td-p/41122/page/2
        for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done
        sudo apt-get update
        sudo apt-get install libsqlite3-dev
    - name: Set up Ruby ${{ matrix.ruby_version }}
      uses: ruby/setup-ruby@v1
      with:
        bundler: 1
        ruby-version: ${{ matrix.ruby_version }}

    - name: Build with Rails ${{ matrix.rails_version }}
      env:
        RAILS_VERSION: ${{ matrix.rails_version }}
        RUBYOPT: ${{ matrix.options.rubyopt }}
      run: |
        bundle install --jobs 4 --retry 3
        bundle exec rake

    - name: Upload Coverage
      if: ${{ matrix.options.codecov }}
      run: |
        curl -Os https://uploader.codecov.io/latest/linux/codecov 
        chmod +x codecov
        ./codecov -t ${CODECOV_TOKEN} -R `pwd` -f coverage/coverage.xml
