name: sentry-rails Test

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    paths:
      - 'sentry-rails/**'
      - 'sentry-ruby/**'
jobs:
  test:
    defaults:
      run:
        working-directory: sentry-rails
    name: Test on ruby ${{ matrix.ruby_version }} and rails ${{ matrix.rails_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rails_version: [5.0.0, 5.1.0, 5.2.0, 6.0.0, 6.1.0]
        ruby_version: [2.4, 2.5, 2.6, 2.7, '3.0', jruby]
        os: [ubuntu-latest]
        include:
          - ruby_version: '3.0'
            rails_version: 6.1.0
            env: RUBYOPT="--enable-frozen-string-literal --debug=frozen-string-literal"
        exclude:
          - ruby_version: 2.4
            rails_version: 6.0.0
          - ruby_version: 2.4
            rails_version: 6.1.0
          - ruby_version: '3.0'
            rails_version: 5.0.0
          - ruby_version: '3.0'
            rails_version: 5.1.0
          - ruby_version: '3.0'
            rails_version: 5.2.0
          - ruby_version: jruby
            rails_version: 5.0.0
          - ruby_version: jruby
            rails_version: 5.1.0
          - ruby_version: jruby
            rails_version: 6.1.0

    steps:
    - uses: actions/checkout@v1
    - name: Install sqlite
      run: |
        # See https://github.community/t5/GitHub-Actions/ubuntu-latest-Apt-repository-list-issues/td-p/41122/page/2
        for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done
        sudo apt-get update
        sudo apt-get install libsqlite3-dev
    - name: Set up Ruby ${{ matrix.ruby_version }}
      uses: ruby/setup-ruby@v1
      with:
        bundler: 1
        ruby-version: ${{ matrix.ruby_version }}

    - name: Build with Rails ${{ matrix.rails_version }}
      env:
        RAILS_VERSION: ${{ matrix.rails_version }}
      run: |
        bundle install --jobs 4 --retry 3
        bundle exec rake
  compare_allocation:
    defaults:
      run:
        working-directory: sentry-rails
    name: Compare memory allocation with ${{ matrix.ruby_version }} and rails ${{ matrix.rails_version }}
    runs-on: ${{ matrix.os }}
    needs: test
    env:
      RAILS_VERSION: ${{ matrix.rails_version }}
    strategy:
      matrix:
        rails_version: [5.2, 6.1.0]
        ruby_version: [2.7]
        os: [ubuntu-latest]
    steps:
    - name: Set up Ruby ${{ matrix.ruby_version }}
      uses: ruby/setup-ruby@v1
      with:
        bundler: 1
        ruby-version: ${{ matrix.ruby_version }}

    - uses: actions/checkout@v2
      with:
        ref: master

    - name: Build and run allocation report on master
      run: |
        bundle install --jobs 4 --retry 3
        bundle exec ruby benchmarks/allocation_comparison.rb

    - uses: actions/checkout@v1

    - name: Rebuild on the branch
      run: |
        bundle install --jobs 4 --retry 3
    - name: Run allocation report on the branch
      run: |
        bundle exec ruby benchmarks/allocation_comparison.rb
