name: sentry-delayed_job Test

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - \d+-\d+
  pull_request:
# Cancel in progress workflows on pull_requests.
# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 2.4
  test:
    needs: ruby-versions
    defaults:
      run:
        working-directory: sentry-delayed_job
    name: Ruby ${{ matrix.ruby_version }}, options - ${{ toJson(matrix.options) }}
    runs-on: ubuntu-latest
    env:
      RUBYOPT: ${{ matrix.options.rubyopt }}
      BUNDLE_GEMFILE: ${{ github.workspace }}/sentry-delayed_job/Gemfile
      BUNDLE_WITHOUT: rubocop
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        include:
          - ruby_version: "3.2"
            options:
              rubyopt: "--enable-frozen-string-literal --debug=frozen-string-literal"
          - ruby_version: "3.2"
            options:
              codecov: 1
        exclude:
          # Because Rails 7.0 currently doesn't work with Ruby head
          # LoadError:
          #  cannot load such file -- mutex_m
          - { ruby_version: "head" }
          - { ruby_version: 'jruby-head' }
    steps:
      - uses: actions/checkout@v4
      - name: Install sqlite
        run: |
          # See https://github.community/t5/GitHub-Actions/ubuntu-latest-Apt-repository-list-issues/td-p/41122/page/2
          for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done
          sudo apt-get update
          sudo apt-get install libsqlite3-dev

      - name: Set up Ruby ${{ matrix.ruby_version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true

      - name: Run specs
        run: bundle exec rake

      - name: Upload Coverage
        if: ${{ matrix.options.codecov }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
